# Python Strings

### Python String is a collections of Unicode characters.

### Python strings can be enclosed in single, double or triple quotes

In [1]:
str1 = 'Python'
str2 = "Python Programming "

str3 = """Python
Programing
I Love India"""
str4 = '''Python
   Programming'''
print(str1)
print(str2)
print(str3)
print(str4)

Python
Python Programming
Python
Programing
I Love India
Python
   Programming

### If there are characters like ' " or \ within a string, they can be ratained in two ways:
1. Escape them by preceding them with a \
2. prepend the string with a 'r' indicating that it is a raw string

In [ ]:
msg = 'My name is \"Ganesh\" Nashik'
que = 'What is a\\b?'
print(que)

In [2]:
# python 2

msg = r"My name is \t 'Ganesh' \n Nashik"
print(msg)

My name is \t 'Ganesh' \n Nashik

### Accessing String elements

String element can be accessed using the index value, starting with 0. Negative index is also allowed

In case of negative indexing, The Last character is considered to be at index -1.

In case of positive indexing, the first character is considered to be at index 0

In [3]:
msg = 'Hello Ganesh'
print(msg[0])

H

In [4]:
print(msg[-1])

h

In [5]:
print(msg[-6])

G

In [6]:
print(msg[8])

n

In [7]:
# A Sub-string can be sliced out of a string
msg = 'Hello Ganesh'
s1 = msg[6:12]   # extract from the 0 to 3
print(s1)

Ganesh

In [8]:
s1 = msg[6:]   # extract from 6 to end
print(s1)

Ganesh

In [9]:
s1 = msg[:5]   # extract from start to 4
print(s1)

Hello

In [10]:
msg = 'Hello Ganesh'
s1 = msg[-6:]  # extract from -6 to end
print(s1)

Ganesh

In [11]:
#extract nes using negative indexing
msg = 'Hello Ganesh'
s1 = msg[-4:-1]  # extract from start to -8
print(s1)

nes

In [12]:
# Using too large an index reports an error, 
# but using too large indexed while slicing is handled elegently
msg = "Hello Python"
print(msg[6:200])    # prints it successfully

Python

In [13]:
print(msg[20])    # produces an error

IndexError: string index out of range

### String Properties

All strings are objects of built-in type str

In [ ]:
msg = "Python"
print(type(msg))
print(len(msg))

In [ ]:
# Python Strings are immutable,i.e. they cannot be changed
s1 = "Hello"
print(id(s1))
s1 = "Good Morning"
print(id(s1))
print(s1)

In [ ]:
s1 = 'Bye'
s1 = 'Good'
print(s1)

In [ ]:
# Strings can be concatenated using +
s1 = "Good "
s2 = "Morning "
s4 = 'Ganesh'
s3 = s1 + s2 
print(s3)

In [ ]:
# Strings can be repeated during the printing
print("*"*10)   # Print 10 star

s1 = "GBSOFT "
print(s1*5)

In [ ]:
# whether one string is part of another can be found out using in operator

print('o' in "Hello")

In [ ]:
print('Ganesh' in "Hello Ganesh")

In [ ]:
print('Ganesh' in "Hello Ganesh")

In [ ]:
email = "ganesh@live.com"

#print('@gmail.com' in email)

if '@gmail.com' in email:
    print('Valid Email')
else:
    print("Only Accept Gmail")

### String Operations

In [ ]:
# Many built-in string functions are available. The syntax to use them is string.function() as shown below,

name = "Python3 is Open Source"

print(name.isalpha())  # checks if all the characters in string are alphabets

name1 = "Ganesh"
print(name1.isalpha())

In [ ]:
print(name.isdigit())  # checks if all the characters in string are digits

sam = "1234"
print(sam.isdigit())   # prints True

In [ ]:
print(name.isalnum())   # checks if all the characters in the string are alphabets or digits

sam = "Sample"
print(sam.isalnum())  # print True

sam = "Sample123"
print(sam.isalnum())  # print True

sam = "Sample 123"  
print(sam.isalnum())  # prints False because of space in the string

In [ ]:
name = "Python3 is Open Source"
print(name.islower())  # checks if all the characters in the string are lowercase alphabets

sam= "sample"
print(sam.islower())   # print True

sam = "Sample"
print(sam.islower())   # print False because of capital S present in Sample

In [ ]:
name = "Python3 is Open Source"
print(name.isupper())   # checks if all the characters in the string are upppercase alphabets

sam="sample"
print(sam.isupper())    # print False

sam= "Sample"
print(sam.isupper())    # print False

sam= "SAMPLE"
print(sam.isupper())    # print True because of all characters are uppercase

In [ ]:
name = "Python3 is Open Source"

print(name.startswith('Python'))  # checks if string starts with a value

print(name.startswith("Good"))   # prints False

In [ ]:
print(name.endswith('Source'))  # checks if string ends with a value

print(name.endswith("Good"))   # prints False

In [ ]:
name = 'Gbsoft'
uname = name.upper()
print(uname)   # converts string to uppercase, but given string remains unchanged

print(name)

In [ ]:
name = 'Gbsoft'
name = name.lower()
#print(name.lower())   # converts given string to lowercase, but given string remains unchaged

print(name)

In [ ]:
name = "gb softronics solutions"
print(name.capitalize()) # converts only first character of string to uppercase, remaining becomes lowercase

print(name)              # original string remains unchanged

In [ ]:
name = "GB Softronics Solutions"
print(name.swapcase())   # swap cases in the string
str1 = name.swapcase()
print(str1)
print(name)              # original string remains unchanged

In [ ]:
name = "      Python3 is Open Source        "
print(name)   # prints with all spaces

In [ ]:
name1 = name.lstrip()
print(name1)      # trim the string from the left. ie leading spaces get removed

print(name)              # original string remains unchanged

In [ ]:
print(name.rstrip())      # trim the string from the right. ie trailing spaces get removed

print(name)              # original string remains unchanged

In [ ]:
mname = name.strip()
name = name.strip()      # trim the string from the both side. ie leading and trailing spaces get removed

#print(name1)
#print(len(name1))

print(name)# original string remains unchanged
print(len(name))

In [ ]:
name = "Python3 is Open Source"
var = name.partition(' is ')
print(var)

print(name)              # original string remains unchanged

In [ ]:
msg = "My username is gbsoft"
# WAP to get the username from the given message.
var = msg.partition('is')
print(var)
username = var[2].strip()
print("Your Username is",username)

In [ ]:
name = "Python3 is Open Source"
list1 = name.split()     # split the string at a specified seperator string, 
                         # In case of seperator is not given, space is considered a seperator

print(list1)

print('Language name is',list1[0])

In [ ]:
name = "Ganesh Attarde,36,gattarde@gmail.com"

list1 = name.split(',')
print("Email is ",list1[2])
print(list1)  # data seperated with seperator ',', mostly used in csv file

In [ ]:
msg = "Ganesh#BTECH#67#78#90#59#93"
# WAP to extract the marks from the above message, and print the total of it.
list1 = msg.split('#')
print(list1)
total = int(list1[2]) + int(list1[3]) + int(list1[4]) \
        + int(list1[5]) + int(list1[6])
print(list1[0],"Got the Total Marks as ",total)

In [ ]:
# str() function return a numeric string for its numeric arguments
age = 36
print('I am ' + str(age) + ' years old')

In [ ]:
# chr() function return a string representing its Unicode value
# ord() function does the reverse

print(ord('A'))

print(chr(97))

In [ ]:
# We can use unicode characters 
name = u'\u0917' + u'\u0923' + u'\u0947' + u'\u0936'

print(name)

## BEST OF LUCK

In [14]:
janhavi = u'\u091c' + u'\u093e' + u'\u0928' + u'\u0935' + u'\u0940'

print(janhavi)

जानवी

In [ ]:
name = u'\u0918' + u'\u0930'
print(name)

In [ ]:
for j in range(1,10):
    print('*'*j,end='')
    print()