### Container is an entity which contains multiple data items. It is also known as a Collections.

Python has following container data types:
1. Lists
2. Tuples
3. Sets
4. Dictionaries

# List

A List is also called as dynamic array. 

It is an ordered collections which can be indexed and sliced.

Lists are commonly used for handling variable length data.

Though lists can contain dissimilar types, usually they are collection of similar types.

animals = ['zebra','tiger','lion']
marks = [67,89,65,75]
num = [10]*5   # stores [10,10,10,10,10]
lst = []   # empty list

Accessing List elements:

Like Strings and array, list items can be accessed using indices. Hance, they are also called as sequence type.
The Index start from 0.

In [7]:
mylist = [10,'ganesh',67.6]
print(mylist)

[10, 'ganesh', 67.6]

In [10]:
marks = [69,78,54,67,45]
print(marks[-1])

45

In [11]:
print(marks)

[69, 78, 54, 67, 45]

In [14]:
# Entire list can be printed by just using the name of the list.

my_data = ['Mr',"Ganesh Attarde","ME E&TC", 38,"g.attarde@gmail.com",78.90]

print(my_data[-2])

g.attarde@gmail.com

### BASIC LIST OPERATIONS

In [16]:
#Unlike Strings lists are mutable(Changable)

#name = 'Ganesh'
#name[0] = 'M'


lst = ['My','Name','is','John']

lst[3] = 'Ganesh'

print(lst)

['My', 'Name', 'is', 'Ganesh']

In [17]:
num_list = [10,20,30,40]
num_list[4:8] = [50,60,70,80]

print(num_list)

[10, 20, 30, 40, 50, 60, 70, 80]

In [18]:
num_list[2:5] = []
print(num_list)

[10, 20, 60, 70, 80]

In [19]:
# New List can be create using the existing list
list1 = [1,2,3,4]
list2 = list1 + [5,6,7,8]
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
# two list can be merge to create a new list
list1 = [1,2,3,4]
list2 = [5,6,7,8]
list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8]

In [22]:
# List element can be search using in operation
list1 = [1,2,3,4,5,6,7,8]
print(5 in list1)

True

In [24]:
print(10 not in list1)

True

In [28]:
# List Sorting
my_list = [45,87,23,5,90,4]
sorted_list = sorted(my_list,reverse=True) # default ascending
print(sorted_list)
print(my_list)  # Existing list is unchanged

[90, 87, 45, 23, 5, 4]
[45, 87, 23, 5, 90, 4]

In [31]:
names = ['nilesh','ganesh','mahesh','mai']
print(sorted(names))

['ganesh', 'mahesh', 'mai', 'nilesh']

In [32]:
# deletion
my_list = [45,87,23,5,90,4]
del(my_list[2]) # Deletes data having index 2
print(my_list)

[45, 87, 5, 90, 4]

In [33]:
my_list = [45,87,23,5,90,4]
del(my_list[2:4]) # deletes data having index 2 to 3
print(my_list)

[45, 87, 90, 4]

In [34]:
my_list = [45,87,23,5,90,4]
del(my_list[:]) # data items are deleted
print(my_list)

[]

In [35]:
my_list = [45,87,23,5,90,4]
del(my_list) # Memory is deleted

In [36]:
print(my_list)

NameError: name 'my_list' is not defined

In [37]:
# Conversion into list
name = 'Spiderman'
name_list = list(name)
print(name_list)

['S', 'p', 'i', 'd', 'e', 'r', 'm', 'a', 'n']

In [38]:
# Get the Length of List
print(len(name_list))

9

In [47]:
# Get the Maximum element in the list
my_list = [56,7,34,5,7,345,34]
print(max(my_list))

345

In [48]:
# Get the minimum element in the list
print(min(my_list))

5

In [49]:
# Get the sum of all elements in the list
my_list = [56,7,34,5,7,345,34]
s = sum(my_list)
print(s)

488

In [51]:
# we can check if a list is empty using not operators
lst = [78]
if not lst:
    print('Empty List, we cant proceed')
else:
    print("List contains some items, so we can proceed")

List contains some items, so we can proceed

In [ ]:
# SHALLOW COPY - on assigning one list to another, both refer to the same list. Changing one changes the other.

In [52]:
list1 = [10,20,30,40,50]
list2 = list1  # it doensn't copy the list. list2 refers to the same list as list1
print(list1)
print(list2)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [53]:
# to prove this, we can print the id of both list
print(id(list1))
print(id(list2))
# BOTH ARE SAME!!

140202493779648
140202493779648

In [54]:
# Let us modify the one of the element of list1
list1[0] = 100
# and lets print the both list
print(list1)
print(list2)

[100, 20, 30, 40, 50]
[100, 20, 30, 40, 50]

In [ ]:
# It means that, list1 and list2 both are refering to same memory or list.

In [107]:
# DEEP COPY: Copies contents of one list into another. Both refer to different lists. Though both contains same values.
# changing one, doesn't change other

list1 = [10,20,30,30,30,50]
list2 = []
list2 = list1 + list2
# Let print the Both Lists
print(list1)
print(list2)

[10, 20, 30, 30, 30, 50]
[10, 20, 30, 30, 30, 50]

In [56]:
# also check the id or address of both lists
print(id(list1))
print(id(list2))
# BOTH ARE DIFFERENT!!, It means that, list1 and list2 both are stored sepeately in memory

140202493465664
140202493589056

In [57]:
# Let us modify the one of the element of list1
list1[0] = 100
# and lets print the both list
print(list1)
print(list2)

[100, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [ ]:
# As both lists have stored in different memory locations, change in one list doesnot reflect in another list

In [58]:
# Deletion of List
list1 = [10,20,30,40,50]
list2 = list3 = list1  # all refers to same list
list1 = []   # list1 now refers to empty list
print(list2) 
print(list3)
list2[:] = []   # list is emptied by deleting all items
print(list2)    # list2 and list3 are refering to same list, so both are empty list
print(list3)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[]
[]

In [59]:
# we can find out whether two list variables are referring to the same list
list1 = [10,20,30,40,50]
list2=list3=list1     # all refers to same list
list4 = ['A','B','C']
print(id(list1))
print(id(list2))
print(id(list3))
print(id(list4))
print(list1 is list2)   # print True
print(list1 is list3)   # print True
print(list4 is list1)   # print False
print(list1 is not list4)  # print True

140202494654208
140202494654208
140202494654208
140202494656128
True
True
False
True

In [62]:
# it is possible to compare lists
# comparison is done item by item till there is a mismatch
a = [1,2,5,7]
b = [1,2,5,4]
if a<b:
    print('a is less than b')
elif a==b:
    print('a is equal to b')
else:
    print('b is less than a')

b is less than a

### List Methods

In [63]:
# List methods are accessed using the syntax list.function()

list1 = [34,54,23,76,45,4]
list1.append(22)  # add new item at the end
print(list1)

[34, 54, 23, 76, 45, 4, 22]

In [64]:
list1 = []

for i in range(2,21,2):
    list1.append(i)

print(list1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [65]:
mylist = []

for i in range(1,11):
    mylist.append(2*i)
    
print(mylist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [68]:
list1= [34,54,23,76,45,4]

item= 100

if item in list1:
    list1.remove(item)   # delete item 23 from list
else:
    print(item ,"is not present in list")
print(list1)

100 is not present in list
[34, 54, 23, 76, 45, 4]

In [69]:
list1 = [34,54,23,76,45,4]
print(list1.pop())    # removes last element from list
print(list1)

4
[34, 54, 23, 76, 45]

In [74]:
list1 = [34,54,23,76,45,4]
print(list1.pop(100))    # removes 2nd element ie 76 from list
print(list1)

IndexError: pop index out of range

In [73]:
index = 100
if index<=len(list1):
    print(list1.pop(index))   # if 100th element not present in the list, then it reports indexError

In [75]:
list1 = [34,54,23,76,45,4]
list1.insert(3,50)     # insert 50 at 3rd position
print(list1)

[34, 54, 23, 50, 76, 45, 4]

In [76]:
list1.reverse()    # reverse the items in the list
print(list1)

[4, 45, 76, 50, 23, 54, 34]

In [77]:
list1 = [34,54,23,76,45,4]
print("Before sorting: ",list1)
list1.sort()    # sort items in the list in ascending order
print("After Sorting",list1)

Before sorting:  [34, 54, 23, 76, 45, 4]
After Sorting [4, 23, 34, 45, 54, 76]

In [78]:
list1 = [34,54,23,76,45,4]
print("Before sorting: ",list1)
list1.sort(reverse=True)    # sort items in the list in decending order
print("After Sorting",list1)

Before sorting:  [34, 54, 23, 76, 45, 4]
After Sorting [76, 54, 45, 34, 23, 4]

In [79]:
list1 = [2,45,65,45,43,45,78]
print(list1.count(45))     # return number of times 45 appears in list1

3

In [89]:
list1 = [45,65,23,98,4,23]
idx = list1.index(98)    # returns index of item 65
print("98 is at index",idx)

98 is at index 3

In [86]:
key = 100
if key in list1:
    idx = list1.index(key)   # reports valueError as 100 is absent in list1
    print(key, " is at index",idx)

In [90]:
# Extra Notes regarding List
# A list may be embedded in another list
x = [1,2,3,4]
y = [10,20,x,40]
print(y)
print(len(y))

[10, 20, [1, 2, 3, 4], 40]
4

In [92]:
# To access element 3, we can use
print(y[2][2])

3

In [96]:
# It is possible to unpack a string or list within a list using the * operator
s = 'Hello'
list1 = [*s]
print(list1)
print(len(list1))

['H', 'e', 'l', 'l', 'o']
5

In [98]:
x = [1,2,3,4]
y = [10,20,*x,30]
print(y)
print(len(y))

[10, 20, 1, 2, 3, 4, 30]
7

In [99]:
print(y[4])

3

In [106]:
list1 = [45,34,12,65,23]
list2 = []
for var in list1:
    list2.append('Even' if var%2==0 else 'Odd')

print(list1)
print(list2)

[45, 34, 12, 65, 23]
['Odd', 'Even', 'Even', 'Odd', 'Odd']

In [104]:
list1 = [1,2,3,4,5,6,6,7,8,45,456,546,546,45]

for var in list1:
    print(var,end= " ")

1 2 3 4 5 6 6 7 8 45 456 546 546 45