# Dictionary Data Type

Dictionary is a collection of key-value pairs. Unlike sequence types, they are indexed by keys

Dictionaries are also known as maps or associative arrays

Keys in a dictionary must be unique and immutable. So strings or tuples can be used as keys as they are immutable.

In [4]:
# ways to create dictionary

a = {}   # creates empty dictionary
b = {'A-1':'Anil','A-2':'Bhushan','A-3':'Ravi'}   # Dictionary with more than one element
list1 = ['Marks1','Marks2','Marks3']
e = dict.fromkeys(list1,0)     # keys - list items, all values set to 50
print(a)
print(b)
print(e)

lst = [0,0,0]
lst[0] = 10
lst[1] = 20
lst[2] = 30

e['Marks1'] = 10
e['Marks2'] = 20
e['Marks3'] = 30
print(e)

{}
{'A-1': 'Anil', 'A-2': 'Bhushan', 'A-3': 'Ravi'}
{'Marks1': 0, 'Marks2': 0, 'Marks3': 0}
{'Marks1': 10, 'Marks2': 20, 'Marks3': 30}

In [5]:
# Note here, key values in a dictionary are unique, but different keys may have same values paired with them.

d1 = {1:'Apple',2:'Oneplus',3:'Samsung',4:'Sony',4:'Sonydfg'}
print(d1)

{1: 'Apple', 2: 'Oneplus', 3: 'Samsung', 4: 'Sonydfg'}

### Accessing Dictionary Elements

In [6]:
# Dictionary elements can be accessed using key as a index

my_result = {'Marathi':67,'English':89,'Social Science':67,'Mathematics':80}

print(my_result['English'])   # prints value for key 'English'

89

In [7]:
print(my_result)    # print all key-value pairs

{'Marathi': 67, 'English': 89, 'Social Science': 67, 'Mathematics': 80}

In [8]:
# Dictionary can be iterated over in three ways

my_result = {'Marathi':67,'English':89,'Social Science':69,'Mathematics':80}

# iterate over the items

for sub,marks in my_result.items():
    print(sub,marks)

Marathi 67
English 89
Social Science 69
Mathematics 80

In [10]:
# iterate over the keys

#for k in my_result:
#    print(k)
    
for k in my_result.keys():
    print(k)

Marathi
English
Social Science
Mathematics

In [11]:
# can be use this keys to get the values
for k in my_result.keys():
    print(k,my_result[k])

Marathi 67
English 89
Social Science 69
Mathematics 80

In [13]:
# iterate over values

#for val in my_result.values():
#    print(val)


total = 0
for marks in my_result.values():
    total = total + marks
print('Total marks = ',total)

Total marks =  305

### Dictionary Operations

In [14]:
# Dictionaries are mutable, so we can perform add/delete/modify operations on a dictionary

my_result = {'Marathi':67,'English':89,'Social Science':69,'Mathematics':80}

## add a new data

my_result['Computer']= 90
print(my_result)

{'Marathi': 67, 'English': 89, 'Social Science': 69, 'Mathematics': 80, 'Computer': 90}

In [15]:
## modify the content or value using key

my_result['Mathematics'] = 100
print(my_result)

{'Marathi': 67, 'English': 89, 'Social Science': 69, 'Mathematics': 100, 'Computer': 90}

In [16]:
## delete a key-value pair

del(my_result['English'])
print(my_result)

{'Marathi': 67, 'Social Science': 69, 'Mathematics': 100, 'Computer': 90}

In [17]:
## delete a dictionary object

del(my_result)
print(my_result)

NameError: name 'my_result' is not defined

In [18]:
# Common dictionary operations are

my_result = {'Marathi':67,'English':89,'Social Science':69,'Mathematics':80}

print(len(my_result))    ## return number of key-value pair in dict

4

In [23]:
print(max(my_result))  ## return maximum key

Social Science

In [20]:
print(max(my_result.values()))  ## return maximum element among values

89

In [24]:
print(min(my_result))   ## return minimum key

English

In [25]:
print(min(my_result.values()))    ## return minimum element among values

67

In [31]:
# Membership Operator  - in
my_result = {'Marathi':67,'English':89,'Social Science':69,'Mathematics':80}

print('English' in my_result )   ## return True if English key is present in dict
print(9 in my_result.values())

True
False

In [28]:
'Computer' not in my_result    ## return True if Computer key is not present in dict

True

In [32]:
# To Obtain all keys in list
my_result = {'Marathi':67,'English':89,'Social Science':69,'Mathematics':80}

#subject = list(my_result)
subject = list(my_result.keys())

print(subject)

['Marathi', 'English', 'Social Science', 'Mathematics']

In [34]:
# To Obtain all values in list

marks = list(my_result.values())

print(marks)

print("Total Marks = ",sum(marks))

[67, 89, 69, 80]
Total Marks =  305

In [37]:
# To Obtain sorted list of keys

sorted_subjects = sorted(my_result.keys(),reverse=True)
sorted_marks = sorted(my_result.values(),reverse=True)

print(sorted_subjects)
print(sorted_marks)

['Social Science', 'Mathematics', 'Marathi', 'English']
[89, 80, 69, 67]

### Dictionary Methods

In [38]:
# There are many dictionary methods. 
# Many of the operations performed by them can also be performed using built-in functions.
my_result = {'Marathi':67,'English':89,'Social Science':69,'Mathematics':80}

my_result.clear()     ## clears all dictionary entries

print(my_result)

{}

In [39]:
my_result = {'Marathi':67,'English':89,'Social Science':69,'Mathematics':80}
d = {'Computer':90,'Science-I':88}

my_result.update(d)    ## adds dictionary entries in dictionary d to dictionary my_result

print(my_result)

{'Marathi': 67, 'English': 89, 'Social Science': 69, 'Mathematics': 80, 'Computer': 90, 'Science-I': 88}

### Nested Dictionary

In [41]:
classroom = {
    'Anil':{'Roll No':1,'Age':19,'Marks':78.90},
    'Sunil':{'Roll No':2,'Age':20,'Marks':80.45},
    'John':{'Roll No':3,'Age':18,'Marks':70.00}
}

## We can store the Dictionary in the Dictionary also
print(classroom)
print(len(classroom))
print(classroom['Anil'])

{'Anil': {'Roll No': 1, 'Age': 19, 'Marks': 78.9}, 'Sunil': {'Roll No': 2, 'Age': 20, 'Marks': 80.45}, 'John': {'Roll No': 3, 'Age': 18, 'Marks': 70.0}}
3
{'Roll No': 1, 'Age': 19, 'Marks': 78.9}

In [42]:
# Write a code to get the Age of Sunil from the above dictionary
print(classroom['Sunil']['Marks'])

80.45

# BEST OF LUCK

In [48]:
# WAP to get 16
cls = {
    '2':[2,4,6,8,10],
    '3':[3,6,9,12,15],
    '4':[4,8,12,16,20]
}

print(type(cls['4']))
print(cls['4'][3])

<class 'list'>
16

In [50]:
# WAP to print list of sorted values
d1 = {'a1':59,'a2':16,'a5':87,'a3':12}

sorted_values = sorted(d1.values(),reverse=True)

print(sorted_values)

[87, 59, 16, 12]