# Comprehensions in Python

In [1]:
# Advanced tool to create the list/set/dict

for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [2]:
# List comprehension
# lst = [expression for var in sequence[optional for or if]]

# Generate a list which contains 1 to 10

list1 = [1,2,3,4,5,6,7,8,9,10]

lst = [n for n in range(1,11)]

print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
# Generate a list which contains square of 1 to 10

lst1 = [n**3 for n in range(1,11)]

print(lst1)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [6]:
# Generate a list which contains table of 5

table5 = [5*n for n in range(1,11)]

print(table5)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [10]:
lst = [34,65,23,21,37,98,9,44,24]

even_list = [var for var in lst if var%2==0]

print(even_list)

[1156, 9604, 1936, 576]

In [9]:
odd_list = [var for var in lst if var%2==1]

print(odd_list)

[65, 23, 21, 37, 9]

In [11]:
# Generate 20 random numbers in the range of 10 to 100
import random
random.seed()
r_list = [random.randint(10,100) for n in range(20)]

print(r_list)

[77, 26, 24, 55, 91, 33, 75, 67, 56, 11, 41, 12, 100, 47, 59, 50, 57, 28, 100, 87]

In [20]:
import random

r_list = [random.randint(10,100) for n in range(20)]
#print(r_list)

even_list = [n for n in r_list if n%2==1]

print(even_list)

[39, 41, 17, 75, 73, 89, 35, 49, 73, 55]

In [25]:
# Generate a square and cube of all numbers between 0 and 10

list1 = [[n,n**2,n**3] for n in range(1,11)]

print(list1)

[[1, 1, 1], [2, 4, 8], [3, 9, 27], [4, 16, 64], [5, 25, 125], [6, 36, 216], [7, 49, 343], [8, 64, 512], [9, 81, 729], [10, 100, 1000]]

In [29]:
# convert a list of string into list of int

lst = ['1','2','3','5','10']


lst = [int(n) for n in lst]

print(lst)

[1.0, 2.0, 3.0, 5.0, 10.0]

In [31]:
#lst1 = input('Enter the numbers').split()
#'1 2 3 4 5 6'.split()
#['1','2','3','4','5','6']

lst1 = [int(n) for n in input('Enter the numbers').split()]

print(type(lst1[0]))
print(lst1)

Enter the numbers1 2 3 4 5 6 7 7
<class 'int'>
[1, 2, 3, 4, 5, 6, 7, 7]

In [36]:
# Take input from the user as names of 5 students and
# store it in List

#names = input('Enter the Names').split()
names = [name.upper() for name in input('Enter the 5 Students Name:: ').split()]

print(names)
print(type(names))

Enter the 5 Students Name:: ganesh nilesh
['GANESH', 'NILESH']
<class 'list'>

### arr = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]

#lst = [1,2,3,4,5,6,7,...12]

#list1 = [*arr[0],*arr[1],*arr[2]]

list1 = [n for ele in arr for n in ele]
print(list1)

In [40]:
my_lst = [(x,y,z) for x in [1,2,3] for y in [1,2,3] for z in [1,2,3]]
print(my_lst)

[(1, 1, 1), (1, 1, 2), (1, 1, 3), (1, 2, 1), (1, 2, 2), (1, 2, 3), (1, 3, 1), (1, 3, 2), (1, 3, 3), (2, 1, 1), (2, 1, 2), (2, 1, 3), (2, 2, 1), (2, 2, 2), (2, 2, 3), (2, 3, 1), (2, 3, 2), (2, 3, 3), (3, 1, 1), (3, 1, 2), (3, 1, 3), (3, 2, 1), (3, 2, 2), (3, 2, 3), (3, 3, 1), (3, 3, 2), (3, 3, 3)]

In [41]:
# print all combinations of 1,2,3

my_list = [(x,y,z) for x in [1,2,3] for y in [1,2,3] for z in [1,2,3] if x!=y and y!=z and x!=z]

print(my_list)

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [42]:
# set comprehension

s = {x**2 for x in range(1,11)}
print(s)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [43]:
# Dict comprehension

# d = {key:val for (key,val) in dict.items()}

d1 = {'a':1,'b':2,'c':3,'d':4,'e':5}

d = {key:val**2 for (key,val) in d1.items()}

print(d)

{'a': 1, 'b': 4, 'c': 9, 'd': 16, 'e': 25}

In [44]:
# obtain a dict with each value cube if value>3

d1 = {'a':1,'b':2,'c':3,'d':4,'e':5}

d = {k:v**3 for (k,v) in d1.items() if v>3}

print(d)

{'d': 64, 'e': 125}

In [45]:
d1 = {'a':1,'b':2,'c':3,'d':4,'e':5,'f':6}

# identify odd and even numbers in the dict

d = {k:(0 if v%2==0 else 1) for (k,v) in d1.items()}

print(d)

{'a': 1, 'b': 0, 'c': 1, 'd': 0, 'e': 1, 'f': 0}

In [46]:
d1 = {'a':'Yes','b':'Yes','c':'No','d':'Yes','e':'No','f':'Yes'}

# replace Yes by 1 and No by 0


d = {k:(1 if v=='Yes' else 0) for (k,v) in d1.items()}

print(d)

{'a': 1, 'b': 1, 'c': 0, 'd': 1, 'e': 0, 'f': 1}

In [47]:
# convert all these string in list to uppercase

name = ['Ganesh','mahesh','suresh','Kiran','Penan','ganesh']

#name = list({n.upper() for n in name})

name1 = [n.upper() for n in name]

print(name1)

['GANESH', 'MAHESH', 'SURESH', 'KIRAN', 'PENAN', 'GANESH']

In [48]:
# list of temp are given in fahrenheit, obtain the new list of temp containing 
# reading in celcius

temp = [100,102.90,98.50,101,97]

cel = [round((x-32)*5/9,1) for x in temp]

print(cel)

[37.8, 39.4, 36.9, 38.3, 36.1]

In [50]:
# delete all numbers which is greater than 20

list1 = [2,56,78,54,3,4,5,44,23,34,56]

list1 = [n for n in list1 if n<=20]

print(list1)

[2, 3, 4, 5]

In [51]:
years = [1934,1960,1900,2004,2020,2008,1968]

leap_year = [y for y in years if y%4==0]
print(leap_year)

[1960, 1900, 2004, 2020, 2008, 1968]

In [55]:
names = ['Ganesh','Mahesh','Akash','Shiva','Tushar','sachin','chaitali' ]

filter_sh = [n for n in names if 'sh' in n]

print(filter_sh)

['Ganesh', 'Mahesh', 'Akash', 'Tushar']

In [ ]:
keys = ['One','Two','Three','Four']

d1 = {'One':1,'Two':2}

#d1 = {k:v for (k) in keys}